/*------------------------------------*\
    $RESET TABLE
\*------------------------------------*/

table, caption, tbody, tfoot, thead, tr, th, td, {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------------------------------------*\
    $Fonts
\*------------------------------------*/

@font-face {
	font-family: 'IcoMoon-Free';
	src: url('../font/IcoMoon-Free.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../font/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../font/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../font/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/*------------------------------------*\
    $General
\*------------------------------------*/

html, body {
	width: 100%; height: 100%;
	min-width: 940px; 
	margin: 0; padding: 0;

	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 16px;
	background: #FFF;
}

a, a:active, a:visited {
	text-decoration: none;
}

.page-title h2 {
    color: #2494f2;
    font-weight: 300;
    font-size: 24px;
}

.change {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    line-height: 20px;
    
    border-radius: 20px;
    background: #2494f2;
    color: #FFF;
    font-family: 'IcoMoon-Free';
    font-size: 11px;
}

.red-cross {
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;

    border-radius: 20px;
    background: #ff1200;
    color: #FFF;
    font-family: 'IcoMoon-Free';
    font-size: 11px;
}

.change:hover, .red-cross:hover {
    opacity: 0.8;
    transition: opacity 0.25s;
}

.btn {
    height: 35px;
    margin-top: 15px;

    display: inline-block;

    border: none;
    color: #fff;
    border-radius: 5px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

.btn-primary {
    background: #2494f2;
}

.btn-secondary {
    padding: 0 10px;
    text-align: center;
    background: #919191;
    float: right;
}

.btn a {
    text-decoration: none;
    color: #fff;
    line-height: 35px;
}

/*------------------------------------*\
    $Header
\*------------------------------------*/

.top-bar {
	width: 100%; height: 70px;
	position: fixed;
	z-index: 10;

	background: #2494f2;
}

.logo-container {
	width: 230px; height: inherit;
	display: inline-block;
	vertical-align: top;

	background: #36a3ff;
}

.logo-content {
	width: 185px; height: 70px;
	margin: auto;
}

.logo-text {
	margin: 0 0 0 22px; padding: 0;
	display: inline-block;
	vertical-align: middle;
	line-height: 70px;

    font-family: 'Open Sans Light';
    font-weight: 300;
	font-size: 24px;
	color: #FFF;
}

.logo-img {
    position: absolute;
    top: 20px;
}

.link-container {
	margin-left: 40px;
	vertical-align: top;
	display: inline-block;
}

.link-text {
	line-height: 70px;
	
	color: #FFF;
}

.link-text.origin {
    font-family: 'Open Sans Semibold';
    font-weight: 600;
}

.link-text.pageName {
    font-family: 'Open Sans Light';
    font-weight: 300;
}

.link-text.pageName:before {
	content: '/ ';
    font-family: 'Open Sans Semibold';
    font-weight: 600;
}


/*------------------------------------*\
    $Sidebar
\*------------------------------------*/

.sidebar {
	width: 230px; 
	height: calc(100% - 70px);

	position: fixed;
	top: 70px; left: 0;
	
	background: #272930; 
}

.item {
	display: block;
	width: 100%; height: 40px;
	margin: 0 0 2px 0; padding: 0;

	-webkit-box-shadow: 0 3px 0px -2px #000, 0 4px 0px -2px #32353e;
	-moz-box-shadow:   0 3px 0px -2px #000, 0 4px 0px -2px #32353e;
	box-shadow:        0 3px 0px -2px #000, 0 4px 0px -2px #32353e;

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

.item:hover {
	background: #2E3034;
}

.item.is-active {
	border-right: 3px solid #2494f2;
}

.item-dropdown.is-active {
	background: #1E2024;
}

.dropdown {
	width: 100%;
    opacity: 0;
	background: #1a1c20;

	display: none;

	-webkit-box-shadow: 0 3px 0px -2px #000, 0 4px 0px -2px #32353e;
	-moz-box-shadow:    0 3px 0px -2px #000, 0 4px 0px -2px #32353e;
	box-shadow:         0 3px 0px -2px #000, 0 4px 0px -2px #32353e;
}

.dropdown-active {
    opacity: 1;
	display: block !important;
}

.item-as-dropdown {
    z-index: 10;
	cursor: pointer;
}

.item-dropdown {
	display: block;
	width: 100%; height: 40px;
	margin: 0 0 2px 0; padding-left: 0px;
}

.item-dropdown:hover {
	background: #1E2024;
}

.item-icon {
	margin: 0 6px 0 20px;
	vertical-align: middle;
	line-height: 40px;

	font-family: 'IcoMoon-Free';
	font-size: 16px;
	color: #FFF;
}

.icon-journal:before { content: "\e904"; }
.icon-user:before { content: "\e971"; }
.icon-list:before { content: "\e922"; }
.icon-add:before { content: "\ea0a"; }
.icon-change:before { content: "\e905"; }
.icon-key:before { content: "\e98d"; }
.icon-cross:before { content: "\ea0f"; }
.icon-dropdown:before {
	content: "\ea50";

	float: right;
	margin: -3px 22px 0 0 ;
    z-index: 1;
	
	-webkit-transform: rotate(180deg);
	-moz-transform:    rotate(180deg);
	transform:         rotate(180deg);
}
.item.is-active .icon-dropdown:before {
	margin: -3px 19px 0 0 ;
}

.item-text {
	vertical-align: middle;
	line-height: 40px;

	color: #FFF;
}


/*------------------------------------*\
    $MessageBox
\*------------------------------------*/

.action-done {
    width: 400px;
    height: 40px;
    display: block;
    position: absolute;
    top: 100px;
    left: 420px;
    z-index: 1000;
    visibility: visible;
}

.msgbox {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.msgbox.true {
    background: rgba(134, 255, 97, 0.7);
    border: 1px solid rgba(134, 255, 97, 0.8);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(104, 225, 67, 0.5);
    -moz-box-shadow:    0px 0px 30px 0px rgba(104, 225, 67, 0.5);
    box-shadow:         0px 0px 30px 0px rgba(104, 225, 67, 0.5);
}
.msgbox.false {
    background: rgba(255, 63, 65, 0.7);
    border: 1px solid rgba(255, 63, 65, 0.8);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(225, 33, 35, 0.5);
    -moz-box-shadow:    0px 0px 30px 0px rgba(225, 33, 35, 0.5);
    box-shadow:         0px 0px 30px 0px rgba(225, 33, 35, 0.5);
}

.msgbox-text {
    display: block;
    text-align: center;
}


/*------------------------------------*\
    $Container
\*------------------------------------*/

.container {
	position: absolute;
	top: 70px; left: 230px;

	z-index: 1;

	overflow: auto;
}

.content {
	margin: 40px;
}

/*------------------------------------*\
    $Form
\*------------------------------------*/

.form-container {
    width: 700px;
    display: block;

    background: #f2f6fa;

    border-radius: 5px;
}

form {
    width: 100%;
    padding: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

.form-sec {
    margin: 5px 0;
    color: #5b7086;
}

.label {
    margin: 10px;
    display: inline-block;
}

.form-container label, .form-container input, .form-container select {
    display: inline-block;
    margin: 5px;
    padding: 0;
    height: 35px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

.form-container input {
    width: 410px;
    padding: 10px;
    
    float: right;
    
    border: 1px solid #e3e9f3;
    border-radius: 5px;
}

.form-container input:focus, form-container select {
    outline: none;
    border-color: #FFF;
    -webkit-box-shadow: 0 0 8px #2494f2;
    -moz-box-shadow: 	0 0 8px #2494f2;
    box-shadow: 		0 0 8px #2494f2;

    -webkit-transition: border 0.25s , box-shadow 0.25s;
    -moz-transition:    border 0.25s , box-shadow 0.25s;
    transition:         border 0.25s , box-shadow 0.25s;
}

.form-container label {
    width: 210px;
    color: #5b7086;
}

.form-container .btn {
    width: auto;
    margin-top: 15px;

    display: inline-block;

    border: none;
    color: #ffffff;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

.form-container .selected-user {
    padding: 7px;
    border-radius: 5px;
    background: #FFF;
}

/*------------------------------------*\
    $Table
\*------------------------------------*/

.table-container {
	width: 700px;
	display: block;

	border: 1px solid #f2f6fa;

	border-radius: 5px; 
}

.table-title {
	margin: 15px;

    font-family: 'Open Sans Light';
    font-weight: 300;
	font-size: 24px;
	color: #2494f2;
}

.thead-title {
    color: #2494f2;
    background-color: #f2f6fa;
}

table {
    width: 100%;
}

table tr {
    height: 40px;
}

tbody tr {
    color: #5b7086;
}

table tr:nth-child(even) {
    background-color: #f2f6fa;
}

table td, table th {
    text-align: center;
}

.table-journal td, .table-journal th {
    width: 20%;
}

.table-user td {
    width: 25%;
}